html, body, #root, .full, canvas{
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4{
  margin: 0;
}

body {
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    line-height: 182.5%;
    letter-spacing: 0.03em;
    overflow: hidden;
}


h1{
    font-family: 'Spectral', serif;
    display: inline;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -0.02em;

}

p {
    margin: 20px 0;
}

button{
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 35px;
    letter-spacing: 0.05em;
    background: black;
    appearance: none;
    outline: none;
    border: none;
    color: white;

    margin-top: 10px;

}

